<!DOCTYPE html>
<html>
<head>
  <title>POP: Publish or Perish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body controller="<%= params[:controller] %>" action="<%= params[:action] %>" class="controller-<%= params[:controller] %>">
