<div class="row">
  <nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(root_path , class: 'navbar-brand') do %>
        POP
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to("Features", pages_features_path) %></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to('#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', 'role': 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'
              ) do %>
              <%= current_user.email %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu role-navigation">
              <li><%= link_to("Profile", edit_user_registration_path) %></li>

              <li role="separator" class="divider"></li>
              <li><%= link_to 'Journal Search', search_path %></li>
              <li role="separator" class="divider"></li>

              <% if current_user.user? %>
                <li><%= link_to("Add Journal", new_journal_path) %>
              <% else %>
                <li><%= link_to("Manage Journals", journals_path) %></li>
                <li><%= link_to("Manage Methodologies", methodologies_path) %></li>
              <% end %>

              <% if current_user.admin? %>
                <li><%= link_to("Manage Users", users_path) %></li>
              <% end %>

              <li role="separator" class="divider"></li>
              <li><%= link_to("Log out", destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% else %>
          <!-- Guest -->
          <%= content_tag(:li, "") do %>
            <%= link_to("Login", new_user_session_path) %>
          <% end %>
          <%= content_tag(:li, "") do %>
            <%= link_to("Register", new_user_registration_path) %>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
</div>
