<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2>Journal Search</h2>
      <%= form_tag search_path, method: :get do %>
        <%= content_tag(:label) do %>
          Search terms: <%= text_field_tag :q, params[:q] %>
        <% end %>

        <%= submit_tag 'Search' %>
        <hr />
      <% end %>

      <h3>Facets</h3>
      <%= link_to("reset facets", search_path) %>
      <% @journals.aggs.each do |a| %>
        <%= content_tag :h4, a[0] %>
        <% a.last['buckets'].each do |facet| %>

          <%= link_to "#{facet['key']} (#{facet['doc_count']})", params.slice(:editor, :impact_factor).merge(a[0] => facet['key']) %>
          <br />
        <% end %>
        <br />
      <% end %>
    </div>

    <div class="col-sm-8 col-sm-offset-1">
      <ul>
        <% @journals.each do |journal| %>
          <li class="media">
            <div class="media-body">
              <h3 class="media-heading"><em><%= journal.title %></em></h3>
              <p><strong>Editor:</strong> <%= journal.editor %></p>
              <p><strong>Impact Factor:</strong> <%= journal.impact_factor %></p>
              <p><strong>Description:</strong> <%= journal.description %></p>
              <%= content_tag :p do %>
                <strong>Methodologies:</strong>
                <% if journal.methodologies.size > 0 %>
                  <%= journal.methodologies.pluck(:name).join(', ') %>
                <% else %>
                  <%= t('search.no_methodology') %>
                <% end %>
              <% end %>
              <%= link_to("See details", journal_path(journal.id)) %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
