<h2>Hi</h2>
<%= form_tag search_path, method: :get do %>
  <%= content_tag(:label) do %>
    Search terms: <%= text_field_tag :q, params[:q] %>
  <% end %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @journals.each do |journal| %>
    <li>
      <%= journal.title %>
    </li>
  <% end %>
</ul>


<!-- <div class="journal-list">
  <% @journals.each do |j| %>
    <div class="journal">
      <p><strong><%= j.title %></strong></p>
      <p class="journal-author"><%= j.editor %></p>
    </div>
  <% end %>
</div> -->
