<h2>Journal Search</h2>
<%= form_tag search_path, method: :get do %>
  <%= content_tag(:label) do %>
    Search terms: <%= text_field_tag :q, params[:q] %>
  <% end %>

  <hr />
  <h3>Facets</h3>
  <%= content_tag(:label) do %>
    Editor: <%= collection_select(:journal, :editor, Journal.all.uniq, :editor, :editor) %>
  <% end %>

  <%= content_tag(:label) do %>
    Impact Factor: <%= select_tag :impact_factor, options_for_select(1..5) %>
  <% end %>
  <%= submit_tag 'Search' %>
<% end %>

<ul>
  <% @journals.each do |journal| %>
    <li class="media">
      <div class="media-body">
        <h3 class="media-heading"><em><%= journal.title %></em></h3>
        <p><strong>Editor:</strong> <%= journal.editor %><br />
        <strong>Impact Factor:</strong> <%= journal.impact_factor %><br />
        <strong>Description:</strong> <%= journal.description %><br />
        <%= link_to("See details", journal_path(journal.id)) %>
      </div>
    </li>
  <% end %>
</ul>


<!-- <div class="journal-list">
  <% @journals.each do |j| %>
    <div class="journal">
      <p><strong><%= j.title %></strong></p>
      <p class="journal-author"><%= j.editor %></p>
    </div>
  <% end %>
</div> -->
