<hr />
<%= form_for @journal, html: {class: 'form-horizontal'} do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'shared/forms/text_field_form_group', f: f, fields: @form_params %>

  <div class="form-group">
    <%= label_tag 'methodology', 'Methodologies Accepted', class: 'col-sm-2' %>
    <div class="col-sm-10 collection-checkbox-container">
      <%= f.collection_check_boxes :methodology_ids, @methodologies, :id, :name do |c| %>
        <%= c.label class: 'checkbox col-sm-4' do %>
          <%= c.check_box + c.text %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
