<%= form_for(@journal) do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal.errors.count, "error") %> prohibited this journal from being saved:</h2>

      <ul>
      <% @journal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= content_tag(:label) do %>
    Title: <%= f.text_field :title %>
  <% end %>

  <%= content_tag(:label) do %>
    Editor: <%= f.text_field :editor %>
  <% end %>

  <%= content_tag(:label) do %>
    Impact Factor: <%= f.text_field :impact_factor %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
